* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Staatliches';
    text-align: left;
    margin: 20px;
    font-size: 50px;
}
header {
	height: 500px;
    text-align: right;
    color: white;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url(https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/australia/Great-Barrier-Reef_Brendan-Rankine.jpg?crop=0%2C460%2C4608%2C2534&wid=4000&hei=2200&scl=1.152);
    
    background-size: 100%;

    }
body {
	font-family: 'Ubuntu';
background-color: #e2eaf1;
}

a {
    margin: 20px;
    padding: 5px;
    
}

a:hover {
    transition: 0.5s ease-in-out;
    background-color: #fff;
    color: rgb(31, 75, 118);

}

.line {
    margin: 20px;
}

.headerinfo {
    text-align: left;
    margin: 20px;
    width: 60%;
}
div{
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    float: left;
    margin-bottom: 20px;
    color: black;

}

div:visited{
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    float: left;
    margin-bottom: 20px;
    color: black;

}
.div1 {
    width: 20%;
    height: 180px;
    

}

.div2 {
    width: 37%;
    height: 180px;
    

}


h2 {
    font-family: 'Ubuntu';
    font-size: 20px;
}

#coolhover:hover {
    background-color: rgb(31, 75, 118);
    color: white;
    transition: 0.5s ease-in-out;
}

.money {
    font-family: serif;

}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  font-size: 70px;

}

